/*
Theme Name: Sprout & Spoon
Theme URI: http://solopine.com/
Description: A WordPress Theme for food bloggers
Author: Solo Pine Designs
Author URI: http://solopine.com
Version: 1.1
Text Domain: sprout-spoon
License: Themeforest Licence
License URI: http://themeforest.net/licenses
Tags: white, light, featured-images, featured-image-header, custom-colors
*/

/* Global reset */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}
/* Global reset-RESET */
strong { font-weight: bold }
em { font-style: italic }
a img { border:none }
strong, b, strong *, b * { font-weight: bold; } em, i, em *, i * { font-style: italic; }
/**/

body {
	background-color:#F7F7F3;
	font-family:"Source Sans Pro", sans-serif;
	font-size:14px;
	color:#4C4A47;
}

h1, h2, h3, h4, h5, h6, .post-entry blockquote p, .entry-content blockquote p, .more-link, .by, .item-related span.date, .side-pop-content span.date, #top-search input {
	font-family:"Crimson Text", sans-serif;
}

p {
	font-size:14px;
	line-height:24px;
}

a {
	color:#95AF7E;
	text-decoration:none;
}

input, textarea, .subscribe-box h4, .author-content h5 a, .block-heading, .thecomment .comment-text h6.author, .thecomment .comment-text h6.author a, #respond  h3, .post-entry .recipe-title, .widget-title,
.promo-overlay  h4, .instagram-title, .index-heading, .archive-box h1 {
	font-family:"Source Sans Pro", sans-serif;
}


/****************************************/
/*
/* General
/*
/****************************************/

#wrapper {
	width:1160px;
	margin:0 auto;
	background-color:#fff;
    box-shadow: 0 0 5px 5px rgba(200,200,200,.05);
	border-radius:10px;
	margin-top:30px;
}

.container {
	width:1080px;
	margin:0 auto;
}

#content {
	width:100%;
	overflow:hidden;
	padding-top:45px;
}

#main {
	width:740px;
	float:left;
}
#main.fullwidth {
	width:100%;
}

#sidebar {
	width:300px;
	float:right;
	margin-top:9px;
}


/****************************************/
/*
/* Header / Logo
/*
/****************************************/

#header {
	padding:65px 0 60px;
	position:relative;
	border-radius: 10px 10px 0px 0px;
}

#logo {
	text-align:center;
}

#logo img {
	max-width:100%;
	height:auto;
}

/*** Top Social */
#top-social {
	position:absolute;
	top:22px;
	left:40px;
}
#top-social a, #mobile-social a {
	color:#b5b5b5;
	font-size:12px;
	margin-right:8px;
}
#top-social a:hover, #mobile-social a:hover {
	color:#000;
}

/** Mobile social **********/
#mobile-social {
	position:absolute;
	right:20px;
	top:20px;
	display:none;
}

/*** Top Search */
#top-search {
	position:absolute;
	top:22px;
	right:40px;
}
#top-search input {
	background:none;
	border:none;
	width:140px;
	padding:0;
	font-style:italic;
	font-size:13px;
}
#top-search i {
	font-size:12px;
	color:#bbb;
}

/****************************************/
/*
/* Navigation
/*
/****************************************/
#navigation {
	border-top:1px solid;
	border-bottom:1px solid;
	border-color:#EAE8E0;
	background:#fff;
	height:60px;
	z-index:9999;
	position:relative;
}
.slicknav_menu {
	display:none;
}
#nav-wrapper .menu {
	text-align:center;
}
#nav-wrapper .menu li {
	display:inline-block;
	margin:0 28px;
	position:relative;
}
#nav-wrapper .menu li a {
	font-size:13px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#65625D;
	line-height:60px;
	display:block;
}
#nav-wrapper .menu li.current-menu-item > a, #nav-wrapper .menu li > a:hover {
	color:#444444;
}
#nav-wrapper .menu > li.menu-item-has-children > a:after {
	font-family: FontAwesome;
    content: "\f107";
	margin-left:9px;
	color:#b5b5b5;
	font-size:12px;
}

/*** Dropdown */
#nav-wrapper .menu .sub-menu,
#nav-wrapper .menu .children {
	background-color: #fff;
	display: none;
	padding: 0;
	position: absolute;
	margin-top:0;
	left: 0;
	z-index: 99999;
	text-align:left;
	border:1px solid;
	border-bottom:none;
	border-color:#e5e5e5;
}

#nav-wrapper ul.menu ul a,
#nav-wrapper .menu ul ul a {
	color: #827E79;
	margin: 0;
	font-size:11px;
	padding: 6px 10px;
	min-width: 170px;
	line-height:20px;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
	border-bottom:1px solid;
	border-top:none;
	border-color:#e5e5e5;
}

#nav-wrapper ul.menu ul li,
#nav-wrapper .menu ul ul li {
	padding-right:0;
	margin-right:0;
	margin-left:0;
}

#nav-wrapper ul.menu ul a:hover,
#nav-wrapper .menu ul ul a:hover {
	background:#f7f7f7;
	color:#827E79;
}

#nav-wrapper ul.menu li:hover > ul,
#nav-wrapper .menu ul li:hover > ul {
	display: block;
}

#nav-wrapper .menu .sub-menu ul,
#nav-wrapper .menu .children ul {	
	left: 100%;
	top: 0;
	margin-top:-1px;
}

/****************************************/
/*
/* Featured Area
/*
/****************************************/
.featured-area { 
	overflow:hidden; 
	margin-top:40px;
}
.feat-item {
	width:340px;
	height:510px;
	float:left;
	margin-right:30px;
	position:relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.feat-item:last-child {
	margin-right:0;
}
.feat-url {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.feat-overlay {
	position:absolute;
	bottom:0;
	width:100%;
	background-color:rgba(0,0,0, 0.4);
	-o-transition:.38s;
	-ms-transition:.38s;
	-moz-transition:.38s;
	-webkit-transition:.38s;
	transition:.38s;
}
.feat-item:hover .feat-overlay {
	background-color:rgba(0,0,0, 0.72);
}
.feat-inner {
	padding:16px 20px 18px;
	text-align:center;

}
.feat-inner h2 a {
	color:#fff;
	font-size:22px;
}
.feat-inner .cat {
	display:block;
	margin-bottom:5px;
}
.feat-inner .cat a {
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#fff;
	margin:0 5px 0 4px;
}
.feat-inner .cat span {
	color:#b5b5b5;
}
.feat-inner .cat a:first-of-type  {
	margin-left:0;
}

/****************************************/
/*
/* Homepage & Post Widget Area
/*
/****************************************/
.home-widget {
	margin-top:40px;
}
.post-widget {
	margin-top:35px;
}

/*** Subscribe Widget */
.widget.widget_mc4wp_form_widget {
	padding:0;
	border:none;
}
.widget.widget_mc4wp_form_widget .widget-title {
	display:none;
}
.home-widget .widget.widget_mc4wp_form_widget {
	margin-bottom:0;
}
.subscribe-box {
	background:#f4f4f4;
	padding:28px 28px 26px;
	overflow:hidden;
}
.subscribe-text {
	float:left;
	width:50%;
}
.subscribe-box h4 {
	text-transform:uppercase;
	color:#333;
	font-size:16px;
	letter-spacing:1px;
	font-weight:700;
	margin-bottom:3px;
	margin-top:-3px;
}
.subscribe-box h4:before {
	font-family:"Font Awesome 5 Free";
	content:"\f0e0";
	font-weight:400;
	font-size:16px;
	margin-right:6px;
}
.subscribe-box p {
	color:#999;
	font-size:14px;
}
.subscribe-form {
	float:right;
	width:50%;
	text-align:right;
}
.subscribe-box input {
	background:#fefefe;
	border:none;
	padding:12px 16px;
	width:50%;
	font-style:italic;
	box-sizing:content-box;
}
	.home-widget .subscribe-box input {
		width:60%;
	}
.subscribe-box ::-webkit-input-placeholder {
	color:#999;
}
.subscribe-box input[type=submit] {
	width:auto;
	background:#95AF7E;
	color:#fff;
	font-size:12px;
	letter-spacing:2.5px;
	text-transform:uppercase;
	font-style:normal;
	margin-left:10px;
	padding:12px 20px;
	border-radius:0;
	margin-top:0;
}
.subscribe-box input[type=submit]:hover {
	background:#333;
	color:#fff;
}
.post-widget .subscribe-box input[type=submit] {
	padding:12px 18px;
}
.subscribe-box input:focus {
	outline:none;
	border:none;
}
/** Sidebar */
#sidebar .subscribe-box {
	padding:32px 28px;
}
#sidebar .subscribe-text {
	float:none;
	width:100%;
	text-align:center;
}
#sidebar .subscribe-form {
	float:none;
	width:100%;
	text-align:center;
}
#sidebar .subscribe-box input {
	width:100%;
	box-sizing:border-box;
	margin-bottom:12px;
}
#sidebar .subscribe-box input[type=submit] {
	width:100%;
	margin-left:0;
	margin-bottom:0;
}
#sidebar .subscribe-box p {
	margin-bottom:20px;
	font-size:13px;
}
#sidebar .subscribe-box h4 {
	margin-bottom:4px;
}
/****************************************/
/*
/* Post
/*
/****************************************/
.post { 
	margin-bottom:60px;
}
/*** Post Header */
.post-header {
	text-align:center;
	margin-bottom:20px;
}
.page .post-header {
	margin-bottom:30px;
}
.post-header h2, .post-header h1 {
	margin-bottom:5px;
}
.post-header h2 a, .post-header h1 {
	font-size:28px;
	color:#000;
}
.post-header h2 a:hover {
	opacity:0.7;
}
.post-header .cat {
	margin-bottom:5px;
	display:block;
}
.post-header .cat a {
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin:0 5px 0 4px;
}
.post-header .cat a:first-of-type  {
	margin-left:0;
}
.post-header .cat a:hover {
	text-decoration:underline;
}
.post-header .cat span {
	font-size:10px;
	color:#b5b5b5;
}
/*** Post Image */
.post-img {
	margin-bottom:22px;
	text-align:center;
}
.post-img img {
	vertical-align:middle;
	max-width:100%;
	height:auto;
}
.post-img.audio iframe {
	height:166px;
	width:100%;
}
/*** Post Entry */
.post-entry {}

.post-entry p, .post-entry hr {
    margin-bottom:20px;
}
.post-entry h1, .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6 {
	color:#000;
	margin-bottom:12px;
}
.post-entry h1 {
	font-size:28px;
}
.post-entry h2 {
	font-size:25px;
}
.post-entry h3 {
	font-size:22px;
}
.post-entry h4 {
	font-size:19px;
}
.post-entry h5 {
	font-size:17px;
}
.post-entry h6 {
	font-size:15px;
}
.post-entry hr {
	border:0;
	height:0;
	border-bottom:1px solid #e5e5e5;
	clear:both;
}
.post-entry blockquote, .entry-content blockquote {
	border-left:3px solid;
	border-color:#ddd;
	padding:0 18px;
}
.post-entry blockquote p, .entry-content blockquote p {
	font-size:22px;
	line-height:28px;
	font-style:italic;
	color:#888;
}

.post-entry a:hover, .entry-content a:hover {
	text-decoration:underline;
}

.post-entry ul, .post-entry ol, .entry-content ul, .entry-content ol {
	padding-left:45px;
	margin-bottom:20px;
}
.post-entry ul li, .entry-content ul li {
	margin-bottom:12px;
	list-style:square;
}
.post-entry ol li, .entry-content ol li {
	margin-bottom:12px;
	list-style:decimal;
}

.sticky.post .post-header { border:1px dashed #eee; padding:20px 0; }
.bypostauthor  {}
.post-entry pre {
	overflow:auto;
}

.post-entry table, .entry-content table { width:100%; margin-bottom:22px; border-collapse:collapse }
.post-entry td, .post-entry th, .entry-content td, .entry-content th { padding: 12px; border-bottom: 1px #e5e5e5 solid; }
.post-entry th, .entry-content th { font-weight:bold; font-size:14px; background:#f5f5f5;}
.post-entry tr:hover, .entry-content tr:hover {
	background:#f9f9f9;
}

.post-entry img, .entry-content img {
	max-width:100%;
	height:auto;
}

/* Read More Button */
.more-link {
	font-style:italic;
	font-size:19px;
	margin-bottom:25px;
	margin-top:25px;
	display:block;
}
.more-link:hover {
	text-decoration:underline;
}

/*** Post tags */
.post-tags {
	margin-top:24px;
	margin-bottom:-10px;
	padding-bottom:13px;
	clear:both;
}
.post-tags a {
	font-size:10px !important;
	letter-spacing:1px;
	text-transform:uppercase;
	background:#f2f2f2;
	color:#777;
	padding:6px 9px 7px 10px;
	margin-right:6px;
	margin-bottom:8px;
	display:inline-block;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.post-tags a:hover {
	opacity:.7;
	text-decoration:none;
	background:#95AF7E;
	color:#fff;
}

/*** Post Meta */
.post-meta {
	overflow:hidden;
	border-top:1px solid #e8e8e8;
	border-bottom:4px double #e5e5e5;
	padding-bottom:13px;
	padding-top:13px;
	margin-top:25px;
	clear:both;
}
.meta-info {
	float:left;
}
.meta-text {
	font-size:12px;
	text-transform:uppercase;
	font-weight:400;
	color:#999;
	margin-right:3px;
	letter-spacing:1px;
}
.meta-text a { color:#999; }
.by {
	font-size:13px;
	font-style:italic;
	color:#999;
	margin-right:1px;
}

/* Meta Comments */
.meta-comments {
	float:right;
	margin-left:20px;
}
.meta-comments a {
	font-size:13px;
	color:#a5a5a5;
}
.meta-comments i {
	margin-left:3px;
	font-size:12px;
}
.meta-comments a:hover {
	color:#000;
}

/* Post Share */
.post-share {
	float:right;
}
.post-share a {
	margin-left:10px;
	font-size:12px;
	color:#a5a5a5;
}
.post-share a:hover {
	color:#000;
}

/*** Post Author */
.post-author {
	margin-top:35px;
	overflow:hidden;
	border:4px double #e5e5e5;
	padding:20px;
}	
.author-img {
	float:left;
	margin-right:25px;
}
.author-img img {
	border-radius:50%;
}
.author-content  {
	overflow:hidden;
}
.author-content h5 a {
	font-size:14px;
	margin-bottom:8px;
	text-transform:uppercase;

	font-weight:600;
	color:#000;
	display:inline-block;
}
.author-content h5 .about-italic {
	font-size:16px;
	color:#888;
	margin-right:3px;
	font-style:italic;
}
.author-content p {
	margin-bottom:9px;
	color:#666;
}
.author-content .author-social {
	font-size:12px;
	color:#b5b5b5;
	margin-right:8px;
}

/*** Post Related */
.post-related {
	margin-top:35px;
	overflow:hidden;
}

.block-heading {
	margin-bottom:18px;
	font-size:13px;
	text-transform:uppercase;
	letter-spacing:2px;
	text-align:center;
	color:#888;
}

.item-related {
	width:230px;
	float:left;
	margin-right:25px;
}

	#main.fullwidth .item-related {
		width:340px;
		margin-right:30px;
	}
	#main.fullwidth .item-related:last-child {
		margin-right:0;
	}

.item-related:last-child {
	margin-right:0;
}
.item-related img {
	margin-bottom:7px;
	width:100%;
	height:auto;
}
.item-related h3 {
	margin-bottom:10px;
	text-align:center;
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
.item-related h3 a {
	font-size:16px;
	color:#000;
}
.item-related h3 a:hover {
	text-decoration:underline;
}
.item-related span.date {
	font-size:14px;
	color:#999;
	font-style:italic;
	display:block;
	text-align:center;
}

/** Post pagination **/
.post-pagination {
	overflow:hidden;
	margin-top:30px;
	margin-bottom:-4px;
}
.post-pagination a {
	font-size:13px;
	
}
.post-pagination a:hover {
	color:#000;
}
.post-pagination .prev {
	float:left;
	width:50%;
	text-align:left;
}
.post-pagination i {
	color:#ccc;
}
.post-pagination .prev i {
	margin-right:4px;
}
.post-pagination .next {
	float:right;
	width:50%;
	text-align:right;
}
.post-pagination .next i {
	margin-left:4px;
}

/*** Comments */
.post-comments {
	margin-bottom:50px;
	margin-top:50px;
}
.comments {
	margin-bottom:40px;
}
.thecomment {
	border-bottom:1px dotted #e8e8e8;
	padding-bottom:34px;
	margin-bottom:34px;
}
.thecomment .author-img {
	float:left;
	margin-right:20px;
}
.thecomment .author-img img {
	border-radius:50%;
}
.thecomment .comment-text {
	overflow:hidden;
}
.thecomment .comment-text p {
	margin-bottom:18px;
}
.thecomment .comment-text p:last-child {
	margin-bottom:0;
}
.thecomment .comment-text h6.author, .thecomment .comment-text h6.author a {
	display:block;
	font-size:13px;
	font-weight:600;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-bottom:4px;
	color:#000;
}
.thecomment .comment-text span.author a:hover {
	text-decoration:underline;
}
.thecomment .comment-text span.date {
	font-size:12px;
	color:#999;
	font-style:italic;
	display:block;
	margin-bottom:10px;
}
.thecomment .comment-text em {
	font-size:13px;
	margin-bottom:-14px;
	display:block;
	color:orange;
	letter-spacing:1px;
}
.thecomment .comment-text em i {
	font-size:14px;
	color:#f3bd00;
}
.post-comments span.reply a {
	float:right;
	font-size:10px;
	background-color:#aaa;
	color:#FFF;
	padding:3px 8px 4px 8px;
	border-radius:10px;
	margin-left:7px;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.post-comments span.reply a.comment-edit-link {
	background:#c5c5c5;
}
.post-comments span.reply a:hover {
	opacity:.8;
}
.post-comments ul.children { margin: 0 0 0 55px; }
.post-comments ul.children li.thecomment { margin:0 0 8px 0; }

/** Reply **********/
#respond {
	margin-bottom:20px;
	overflow:hidden;
}
#respond  h3 {
	font-size:12px;
	color:#999;
	margin-bottom:20px;
	letter-spacing:2px;
	text-transform:uppercase;
}
#respond h3 a {
	color:#000;
	display:inline-block;
}
#respond h3 small a {
	text-transform:uppercase;
	font-size:11px;
	background:#333;
	color:#FFF;
	padding:4px 6px 5px;
	border-radius:3px;
	margin-left:7px;
	letter-spacing:1px;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
#respond h3 small a:hover {
	opacity:.8;
}
#respond label {
	color:#888;
	width:80px;
	font-size:13px;
	display:inline-block;
	font-weight:300;
	font-style:italic;
}
#respond input {
	padding:8px 10px;
	margin-right:10px;
	color:#999;
	margin-bottom:15px;
	font-size:11px;
	width:250px;
}
#respond input:focus {outline:none;}
#respond .comment-form-url {
	margin-bottom:10px;
}
#respond textarea {
	padding:14px;
	height:130px;
	font-size:13px;
	color:#777;
	margin-bottom:14px;
	line-height:20px;
}
#respond textarea:focus {outline:none;}
#respond #submit {
	padding:10px 18px 11px;
	width:auto;
	font-size:10px;
	margin-top:0;
}
#respond #submit:hover {
	background:#333;
	color:#FFF;
}

/****************************************/
/*
/* Recipe Card
/*
/****************************************/
.sp-recipe {
	border:1px solid;
	border-color:#ddd;
	padding:18px 25px 6px;
	margin-bottom:25px;
	margin-top:30px;
}
.recipe-overview {
	border-bottom:1px solid;
	border-color:#ddd;
	margin:0 -25px 25px -25px;
	padding:0 25px 25px;
	overflow:hidden;
}
.post-entry .recipe-overview h2 {
	font-size:22px;
	float:left;
	color:#000;
	margin-bottom:8px;
}
.recipe-overview a.sp-print {
	float:right;
	font-size:12px;
	font-weight:700;
	margin-top:4px;
	border:1px solid;
	border-color: #95AF7E;
	padding:5px 12px 6px;
	border-radius:20px;
	color:#95AF7E;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
}
.recipe-overview a.sp-print i {
	margin-right:4px;
	font-size:13px;
}
.recipe-overview a.sp-print:hover {
	background:#95AF7E;
	color:#fff;
	border-color: #95AF7E;
	text-decoration:none;
}


.recipe-overview .recipe-meta {
	clear:both;
	color:#aaa;
	font-size:12px;
}
.recipe-overview .recipe-meta span {
	margin-right:16px;
}
.recipe-overview .recipe-meta span.servings {
	margin-right:0;
}
.recipe-overview .recipe-meta span i {
	font-size:14px;
	margin-right:4px;
	color:#aaa;
}

.post-entry .recipe-title {
	font-size:14px;
	padding-bottom:4px;
	color:#999;
	margin-bottom:14px;
	text-transform:uppercase;
	letter-spacing:1px;
}

.recipe-ingredients {
	border-bottom:1px solid;
	border-color:#ddd;
	margin:0 -25px 25px -25px;
	padding:0 20px 30px;
}
.recipe-ingredients ul {
	margin:0;
	padding:0;
}
.recipe-ingredients ul li {
	padding:9px 14px 10px;
	border-radius:24px;
	font-size:14px;
	color:#4C4A47;
	margin:0;
	list-style:none;
}
.recipe-ingredients ul li:nth-child(odd) {
	background:#f4f4f4;
}

.step {
	margin-bottom:4px;
}

.step span.step-number {
	width:26px;
	height:26px;
	line-height:26px;
	text-align:center;
	background:#95AF7E;
	color:#FFF;
	border-radius:50%;
	float:left;
	font-size:13px;
	margin-right:16px;
}
.step-content {
	overflow:hidden;
}
.post-entry .step-content p {
	margin-top:-1px;
	color:#4C4A47;
}

.recipe-notes {
	border-top:1px solid;
	border-color:#ddd;
	margin: 10px -25px 0;
	padding:25px 25px 0;
}
.post-entry .recipe-notes p {
	color:#4C4A47;
}
.recipe-notes .recipe-title {
	margin-bottom:8px;
}

/****************************************/
/*
/* Grid and list layout
/*
/****************************************/

.sp-grid .post {
	margin-bottom:40px;
}
.sp-grid li .post {
	margin-bottom:0;
}

.post-entry .sp-grid {
	padding:0;
}

.sp-grid > li {
	display:inline-block;
	vertical-align: top;
}

.sp-grid.col3 > li {
	width:228px;
	margin-right:24px;
	margin-bottom:38px;
}

@media only screen and (min-width: 767px) {

.sp-grid.col3 > li:nth-of-type(3n+3) {
	margin-right:0;
}

	#main.fullwidth .sp-grid.col3 > li {
		width:340px;
		margin-right:26px;
	}
	#main.fullwidth .sp-grid.col3 > li:nth-of-type(3n+3) {
		margin-right:0;
	}
	
}

.sp-grid.col2 > li {
	width:350px;
	margin-right:36px;
	margin-bottom:35px;
}
.sp-grid.col2 > li:nth-of-type(2n+2) {
	margin-right:0;
}

	#main.fullwidth .sp-grid.col2 > li {
		width:520px;
		margin-right:36px;
	}
	#main.fullwidth .sp-grid.col2 > li:nth-of-type(2n+2) {
		margin-right:0;
	}

.sp-grid.col4{ font-size: 0; }
.sp-grid.col4 > li {
	width:23.5%;
	margin-right:1.62%;
	margin-bottom:35px;
}
.sp-grid.col4> li:nth-of-type(4n+4) {
	margin-right:0;
}
	
.grid-item .post-img {
	margin-bottom:13px;
}

.grid-item .post-header {
	margin-bottom:8px;
}
.grid-item .post-header h2 a {
	font-size:17px;
}
.post-entry .grid-item .post-header h2 {
	line-height:22px;
}
.post-entry .grid-item .post-header h2 a {
	text-decoration:none;
}

	.sp-grid.col2 .grid-item .post-header h2 a {
		font-size:22px;
	}

.grid-item .post-header .cat {
	margin-bottom:4px;
}
.grid-item .post-entry p {
	margin-bottom:10px;
	text-align:center;
}
.grid-item .date {
	text-align:center;
	display:block;
	font-size:12px;
	font-style:italic;
	color:#999;
}
.grid-item .date a {
	color:#999;
}

/*** List Layout */
.list-item {
	overflow:hidden;
	margin-bottom:40px;
}
.list-grid-layout .list-item {
	margin-bottom:35px;
}

.list-item .list-content {
	overflow:hidden;
}
.list-item .post-img {
	float:left;
	margin-right:33px;
	margin-bottom:0;
}
.list-item .post-img img {
	max-width:230px;
}
#main.fullwidth .list-item .post-img img {
	max-width:280px;
}
.list-item .list-content .post-header {
	text-align:left;
	margin-top:20px;
	margin-bottom:14px;
}

.list-item .post-header h2 a {
	font-size:26px;
}
.list-item .post-header .cat {
	margin-bottom:8px;
}
.list-item .post-meta {
	margin-top:30px;
}

/****************************************/
/*
/* Pagination
/*
/****************************************/
.pagination {
	margin-top:55px;
	overflow:hidden;
	margin-bottom:45px;
}
.pagination.pagi-grid {
	margin-top:20px;
}
.pagination a {
	border:1px solid #ddd;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:3px;
	padding:10px 14px 11px 16px;
	border-radius:2px;
	color:#999;
	margin-top:10px;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
	display:block;
}

.pagination .older {
	float:right;
}
.pagination .newer {
	float:left;
}
.pagination a:hover {
	background:#f7f7f7;
	color:#888;
}

/****************************************/
/*
/* Widgets
/*
/****************************************/
.widget {
    background: transparent;
    border: 1px solid;
	border-color:#dddddd;
	padding:25px 20px 22px;
	display:block;
	position:relative;
	margin-bottom:40px;
	box-sizing:border-box;
	
}
.widget:before, .widget:after {
	content: '';
    display: table;
}
.widget-title {
	text-transform:uppercase;
	letter-spacing:2px;
	color:#000;
	background:#fff;
	font-size:11px;
	font-weight:400;
    position: relative;
    top: -26px;
    left: 0;
    display: table;
    overflow: hidden;
    width: 100%;
    border-bottom: none;
    text-align: center;
    white-space: nowrap;
    -webkit-transform:translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	-o-transform:translateY(-50%);
	transform:translateY(-50%);
	margin-top: 0;
    margin-bottom: -15px;
}
.widget-title:before, .widget-title:after {
    position: relative;
    top: 50%;
    display: table-cell;
    width: 50%;
    height: 1px;
    border-top: 1px solid;
	border-color:#dddddd;
    content: '';
    -webkit-transform:translate(0, 50%);
    -moz-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
	-o-transform:translate(0, 50%);
	transform: translate(0, 50%);
}
.widget-title:before {
	right:26px;
}
.widget-title:after {
	left:26px;
}

.widget.noborder {
	border:none;
	padding:25px 0 0;
}
.widget.notitle {
	padding-top:0;
}
.widget.border_notitle {
	border-top:1px solid #ddd;
}

.widget img {
	max-width:100%;
	vertical-align:middle;
	height:auto;
}

.widget .screen-reader-text {
	display:none;
}

.widget a:hover {
	text-decoration:underline;
}

/*** List widget */
.widget ul li {
	margin-bottom:10px;
}
.widget ul li:last-child {
	margin-bottom:0;
	padding-bottom:0;
	border-bottom:none;
}
.widget ul li a {
	color:#000;
	font-size:14px;
}

/*** Widget categories & Archive */
.widget_categories ul li, .widget_archive ul li {
	color:#999;
	font-size:13px;
}
.widget_categories a, .widget_archive a {
	margin-right:5px;
}

/*** Popular Widget */
.side-pop {
	margin-bottom:20px;
}
.side-pop:last-child {
	margin-bottom:0;
}
.side-pop-img {
	margin-bottom:10px;
}
.side-pop-content {
	text-align:center;
}
.side-pop-content h4 {
	margin-bottom:6px;
}
.side-pop-content h4 a {
	font-size:16px;
	color:#000;
}
.side-pop-content span.date {
	font-size:14px;
	color:#999;
	font-style:italic;
	display:block;
}

	/* Popular Post List View */
	.side-pop.list {
		margin-bottom:20px;
		overflow:hidden;
	}
	.side-pop.list:last-child  {
		margin-bottom:0;
	}
	.side-pop.list .side-pop-img {
		float:left;
		max-width:85px;
		margin-right:15px;
		margin-bottom:0;
	}
	.side-pop.list .side-pop-content {
		text-align:left;
		overflow:hidden;
	}
	.side-pop.list .side-pop-content h4 a {
		font-size:14px;
	}
	.side-pop.list .pop-num {
		width:24px;
		height:24px;
		line-height:23px;
		font-size:13px;
	}
	.side-pop.list .side-pop-content span.date {
		font-size:13px;
	}


/*** About Widget */
.about-widget {
	text-align:center;
}
.about-img img {
	max-width:100%;
	margin-bottom:15px;
}
.about-widget p {
    margin-bottom: 18px;
}

/*** Social Widget */
.social-widget {
	text-align:center;
}
.social-widget a {
	margin:0 3px;
}
.social-widget a:first-child {
	margin-left:0;
}
.social-widget a:last-child {
	margin-right:0;
}
.social-widget i {
	text-align:center;
	display:inline-block;
	background:#95AF7E;
	color:#fff;
	font-size:12px;
	height:28px;
	width:28px;
	line-height:29px;
	border-radius:100%;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.social-widget i:hover {
	opacity:.8;
}

/*** Ad Widget */
.center-widget {
	text-align:center;
}

/* Instagram Widget **********/
#sidebar .instagram-pics, .footer-widgets .instagram-pics  {
	margin-left:-10px;
	overflow:hidden;
	margin-bottom:-10px;
}
#sidebar .instagram-pics li, .footer-widgets .instagram-pics li {
	width: 30%;
	display: inline-block;
	border-bottom: none;
	padding: 0;
	margin: 0 0 8px 8px;
	float:left;
}
#sidebar .instagram-pics li img, .footer-widgets .instagram-pics li img {
	max-width:100%;
	vertical-align:middle;
}
#sidebar .instagram-pics li img:hover, .footer-widgets .instagram-pics li img:hover {
	opacity:.87;
}

/*** Promo widget */
.promo-item {
	display: table;
	width:100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding:14px;
	position:relative;
}
.promo-overlay {
	height: 100%;
    display: table-cell;   
    vertical-align: middle;   
	text-align:center;
}  
.promo-overlay  h4 {
	color:#000;
	line-height:1.6em;
	padding:10px 13px;
	font-size:11px;
	text-transform:uppercase;
	letter-spacing:2px;
	background:rgba(255,255,255,1);
	display:inline-block;
}
.promo-item a {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}

/*** WordPress recent comments */
.widget_recent_comments .comment-author-link, .widget_recent_comments .comment-author-link a {
	color:#999;
	font-style:italic;
}

/*** WordPress recent post widget */
.widget_recent_entries .post-date {
	color:#999;
	font-style:italic;
	display:block;
	font-size:12px;
	margin-top:5px;
}

/*** Tagcloud Widget */
.widget .tagcloud a {
	font-size:11px !important;
	letter-spacing:1px;
	text-transform:uppercase;
	background:#f2f2f2;
	color:#777;
	padding:5px 6px 6px 7px;
	margin-right:5px;
	margin-bottom:8px;
	display:inline-block;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}
.widget .tagcloud a:hover {
	opacity:.7;
	text-decoration:none;
	background:#95AF7E;
	color:#fff;
}

/** Search Widget **********/
.widget #searchform input#s {
	border: 1px solid #e5e5e5;
	background:#fff url(img/searchsubmit.png) no-repeat 96% 13px;
	padding:14px 14px;
	font-size:12px;
	font-style:italic;
	color:#999;
	width:280px;
}
.widget #searchform #s:focus { outline:none; }
.widget #searchform input#s { 
	width:100%;
	box-sizing:border-box;
}
.widget #searchform i { display:none; }

/*** WordPress custom menu widget */
.widget ul.menu li ul, .widget ul.children li {
	padding-left:15px;
	margin-top:9px;
}

/*** Facebook widget */
.widget.solopine_facebook_widget {
	text-align:center;
}

/*** WordPress Calendar */
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #777; font-size: 12px; margin-top: 10px; margin-bottom: 15px; border-bottom:1px solid #e5e5e5; padding-bottom:8px; }
#wp-calendar thead { font-size: 12px;  }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; padding:8px; font-size:12px; }
#wp-calendar tbody td a { font-weight:700; color:#222; }
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }
#wp-calendar thead th { padding-bottom: 10px; text-align: center; }

/****************************************/
/*
/* Footer
/*
/****************************************/
#footer {
	margin-top:40px;
}

/*** Instagram footer area */
#instagram-footer {
	text-align:center;
	overflow:hidden;
	position:relative;
	margin-bottom:-1px;
}
.instagram-title {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
	background:#fff;
	padding:18px 20px;
	z-index:999;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:12px;
}
#instagram-footer .instagram-pics li {
	width:16.66666666666667%;
	display:inline;
	float:left;
}
#instagram-footer .instagram-pics li img {
	max-width:100%;
	vertical-align:middle;
}
#instagram-footer .instagram-pics li img:hover {
	opacity:.87;
}
#instagram-footer p.clear {
	display:none;
}

/*** Footer social */
#footer-social {
	text-align:center;
	padding:30px 0;
	border-top:1px solid;
	border-bottom:1px solid;
	border-color:#EAE8E0;
}
#footer-social a {
	margin:0 22px;
	font-size:14px;
	color:#a5a5a5;
	font-size:11px;
	letter-spacing:1px;
	text-transform:uppercase;
}
#footer-social a i {
	margin-right:4px;
}

#footer-social a:hover {
	color:#000;
}

/*** Footer Copyright */
#footer-copyright {
	overflow:hidden;
	padding:26px 0;
}
#footer-copyright p {
	font-size:12px;
	color:#a5a5a5;
}
.left-copy {
	float:left;
}
.right-copy {
	float:right;
}

.to-top {
	float:right;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:10px;
	line-height:24px;
	margin-left:12px;
	color:#666;
}

/****************************************/
/*
/* Archive
/*
/****************************************/
.archive-box {
	text-align:center;
	padding:40px 0;
	border-bottom:1px solid;
	border-color:#EAE8E0;
	background:#ffffff;
}
.archive-box span {
	font-size:12px;
	color:#999;
	display:block;
	margin-bottom:4px;
}
.archive-box h1 {
	font-size:28px;
	text-transform:uppercase;
	letter-spacing:2px;
	display:inline-block;
	color:#000;
	
}


/****************************************/
/*
/* Misc
/*
/****************************************/

/** Form styling **********/
input[type=submit] {
	text-transform:uppercase;
	letter-spacing:2px;
	background:#eee;
	border-radius:0;
	font-size:11px;
	color:#888;
	padding:11px 21px;
	margin-top:14px;
	display:inline-block;
	border:none;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
	cursor:pointer;
	border-radius:30px;
	width:auto;
}
input[type=submit]:hover {
	background:#333;
	color:#FFF;
}
input, select, textarea {
	border:1px solid #ddd;
	color:#888;
	padding:9px 10px;
	width:100%;
	box-sizing:border-box;
}
input:focus, select:focus, textarea:focus {
	border:1px solid #c4c4c4;
	outline:none;
}
input[type="radio"] {
	width:auto;
}

/*** 404 Page **/
.error-page {
	text-align:center;
}
.error-page h1 {
	font-size:190px;
	margin-bottom:0;
	letter-spacing:10px;
}
.error-page p {
	margin-top:-35px;
	margin-bottom:40px;
	color:#888;
	font-style:italic;
}

.post-entry.nothing {
	font-size:14px;
	color:#313131;
	text-align:center;
}
.post-entry.nothing #searchform input#s {
	border: 1px solid #e5e5e5;
	background:#fff url(img/searchsubmit.png) no-repeat 96% 13px;
	padding:14px 14px;
	font-size:12px;
	font-style:italic;
	color:#999;
	width:280px;
	margin-top:18px;
}
.post-entry.nothing  #searchform #s:focus { outline:none; }
.post-entry.nothing  #searchform input#s { 
	box-sizing:border-box;
}
.post-entry.nothing  #searchform i { display:none; }

/*** Recipe index shortcode **/
.index-heading {
	position:relative;
	z-index:10;
}

.post-entry .index-heading {
	font-size:16px;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:400;
	position: relative;
	margin-bottom:25px;
    line-height: 15px;
	color:#888;
}
.post-entry .index-heading:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 6px;
    height: 1px;
    border-bottom: 1px solid #ddd;
}
.post-entry .index-heading > span {
    line-height: 15px;
    height: 15px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-right: 25px;
    background: #fff;
}
.post-entry .index-heading a {
	background:#fff;
	position:absolute;
	right:0;
	top:-1px;
	padding-left:18px;
	font-size:11px;
	letter-spacing:1px;
}

/****************************************/
/*
/* WordPress core CSS
/*
/****************************************/
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    max-width: 100%;
    text-align: center;
	box-sizing:border-box;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 16px;
	font-style:italic;
	color:#888;
    line-height: 17px;
    margin: 8px 0 0;
}

/* Custom WordPress gallery style **********/
.gallery {
	margin-bottom:20px !important;
}
.gallery .gallery-caption{  
    font-size:12px;
	color:#888;
	margin-top:4px;
	font-style:italic;
}  
  
.gallery .gallery-icon img{  
    border-radius:2px;  
    border:1px solid #eee !important;  
	padding:7px;
}  
.gallery .gallery-icon img:hover {
	border:1px solid #ccc !important;  
}

/** Contact Form 7 **********/
.wpcf7 input {
	width:300px;
}
div.wpcf7 {
	overflow:hidden;
	margin-top:30px;
}
.wpcf7 input, .wpcf7 textarea {
	font-size:12px;
	margin-top:6px;
}
.wpcf7 p {
	color:#888;
	font-style:italic;
	margin-bottom:18px;
}
.wpcf7 .wpcf7-submit {
	width:auto;
	margin-top:0;
}

/*** Print Styles **/
@media print {
  body { background:#fff !important; }
  .sp-print { display:none; }
  .sp-recipe { border:none; }
  .step { margin-bottom:20px; }
}

/****************************************/
/*
/* Slicknav CSS
/*
/****************************************/
.slicknav_btn { position: relative; display: block; vertical-align: middle; float: left;  line-height: 32px; cursor: pointer;  height:32px;}
.slicknav_menu  .slicknav_menutxt { display: block; line-height: 1.188em; float: left; }
.slicknav_menu .slicknav_icon { float: left; margin: 0.188em 0 0 0.438em; font-size:19px;}
.slicknav_menu .slicknav_no-text { margin: 0 }
.slicknav_menu .slicknav_icon-bar { display: block; width: 1.125em; height: 0.125em; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em }
.slicknav_nav { clear: both }
.slicknav_nav ul,
.slicknav_nav li { display: block }
.slicknav_nav .slicknav_arrow { font-size: 0.8em; margin: 0 0 0 0.4em; }
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_row { display: block; }
.slicknav_nav a { display: block }
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a { display: inline }
.slicknav_menu:before,
.slicknav_menu:after { content: " "; display: table; }
.slicknav_menu:after { clear: both }
.slicknav_menu { *zoom: 1 }
.slicknav_btn {
    margin: 14px 10px 14px;
	margin-left:8px;
}
.slicknav_menu .slicknav_icon-bar {
  background-color: #b5b5b5;
}
.slicknav_menu {
    background:none;
}
.slicknav_nav {
    margin:0;
    padding:0;
	background-color:#fff;
	z-index:9999;
	position:relative;
	border:1px solid #EAE8E0;
	
}
.slicknav_nav, .slicknav_nav ul {
    list-style: none;
	background:#fff;
    overflow:hidden;
}
.slicknav_nav ul {
    padding:0;
    margin:0 0 0 20px;
}
.slicknav_nav .slicknav_row {
    padding:5px 10px;
    margin:2px 5px;
}
.slicknav_nav a{
    padding:5px 10px;
    margin:2px 5px;
    text-decoration:none;
    color:#65625D;
	font-size:11px;
	font-weight:400;
	letter-spacing:2px;
	text-transform:uppercase;
}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding:0;
    margin:0;
}
.slicknav_nav a:hover{
    background-color:#f3f3f3;
    color:#65625D;
}
.slicknav_nav .slicknav_txtnode {
    margin-left:15px;   
}

.slicknav_menu .slicknav_no-text {
	margin-top:7px;
}


/* Instagram styling for home and post widgets */
.home-widget .widget .null-instagram-feed, .post-widget .widget .null-instagram-feed {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.home-widget .null-instagram-feed  ul.instagram-pics, .post-widget .null-instagram-feed  ul.instagram-pics {
    display: table-row;
}

.home-widget .null-instagram-feed  ul.instagram-pics li, .post-widget .null-instagram-feed  ul.instagram-pics li  {
    display: table-cell;
}